.Ui{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin:0;
    position: relative;
    background: var(--ui-bg);
}
.Ui .body{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}
.Ui .body .email-list{
    background: var(--ui-bg-2);
    border-radius: 20px;
    padding: 0;
    margin: 0;
    flex: 1;
    list-style: none;
    padding: 10px;
}